<style>
  .modal-content {
    color: #444;
  }

  .modal-header {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }
</style>

<div
  class="modal fade"
  id="Modal-CancelConfirm-"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">annotate</h5>
        
      </div>
      <div class="modal-body"></div>
      <form method="POST">
        <h4 class="text-center" style="color: black">hi</h4>
        <br />
        <h6 class="text-center"></h6>
        <br />
        <input id="cancelled_event" name="cancelled_event" type="hidden" />
      </form>
      
        
      </div>
    </div>
  </div>
</div>
