{% extends 'dashboard.html' %} {% block title %} Change Password {%endblock%} {%
block account_info%}

<div class="container">
  <form method="POST" class="form-signin" autocomplete="off">
    {{ form.hidden_tag() }}
    <h1 class="h2 mb-3 font-weight-normal heading" style="text-align: left">
      Delete Account.
    </h1>
    <br />
    <br />
    {{ form.old_password(class="form-control form-input",placeholder = "Enter
    Password") }}
    <br />
    <br />
    <div class="submit-btn">
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </div>
  </form>
</div>
{%endblock%} {% block internal_js %}
<script>
  window.onload = function () {
    const accLink = document.getElementById("user-info");
    const changeLink = document.getElementById("change-password");
    const deleteAcc = document.getElementById("delete-account");

    accLink.classList.remove("active");
    changeLink.classList.remove("active");
    deleteAcc.classList.add("active");
  };
</script>
{% endblock %}
